<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hlidskialf.android.bragi"
      android:versionCode="006001"
      android:versionName="0.6.1">
    <application android:label="@string/bragi_label">

        <activity android:name="com.hlidskialf.android.bragi.BragiActivity"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:label="@string/bragi_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.hlidskialf.android.tonepicker.TonePickerActivity"
                  android:label="@string/tonepicker_label"
                  >
            <intent-filter>
                <action android:name="android.intent.action.RINGTONE_PICKER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.hlidskialf.android.bragi.SlotEditorActivity" 
                  android:theme="@style/Theme.Dialog.NoTitleBar"/>

        <activity android:name="com.hlidskialf.android.bragi.ProfileEditorActivity" 
                  android:theme="@style/Theme.Dialog.NoTitleBar"/>
    </application>
</manifest> 
